div {
  display: flex;
}

body {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

/*.chart {
  width: 400px;
  height: 600px;
}*/

/*.males, .females {
  flex-direction: column;
  width: 200px;
}*/

/*.males {
  align-items: flex-end;
}*/

.males div {
  background-color: #5696BC;
}

.females div {
  background-color: #d8a6b2;
  /*justify-content: flex-end;*/
  direction: rtl;
}

.males div, .females div {
  font: 10px sans-serif;
  text-align: right;
  padding: 5px 1px;
  margin: 1px;
  color: white;
  border-radius: 1px;
  align-items: center;
  text-indent: 2px;
}

.males div:hover, .females div:hover {
  opacity: 0.9;
}


.chart {
  border: 1px solid black;
}

.chart rect {
  ry: 1;
  rx: 1;
}

.males rect {
  fill: #5696BC;
}

.females rect {
  fill: #d8a6b2;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.males rect:hover, .females rect:hover {
  opacity: 0.8;
}

.axis text {
  fill: black;
}
