div {
  display: flex;
}

body {
  display: flex;
  padding-top: 20px;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.chart-wrapper {
  flex-direction: column;
}

.chart-header, .chart-footer {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  height: 32px;
}


.chart {
  /*border: 1px solid black;*/
}


.chart rect {
  ry: 1;
  rx: 1;
}

.males rect {
  fill: #5696BC;
}

.females rect {
  fill: #d8a6b2;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.males rect:hover, .females rect:hover {
  opacity: 0.8;
}

.axis text {
  fill: black;
}

.chart .gender-labels {
  font: 14px sans-serif;
  font-weight: 400;
}

.chart .header {
  font: 26px sans-serif;
  font-weight: 700;
}

.chart-header {
  padding-bottom: 30px;
}

.chart .source {
  fill: #b3b3b3;
}


.fetch-links {
  flex-direction: column;
  cursor: pointer;
  color: #6666b2;
  width: 200px;
  /*flex-wrap: wrap;*/
  padding-left: 50px;
  padding-right: 150px;
}

.fetch-links a {
  display: flex;
  width: fit-content;
  padding-bottom: 5px;
}

.fetch-links a:hover {
  text-decoration: underline;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 100px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  font-size: 12px;
}

.toolTip span {
  display: flex;
  padding-bottom: 3px;
  justify-content: space-between;
}

.toolTip span:first-of-type {
  /*padding-bottom: 5px;*/
}

.project-name {
  flex-direction: column;
  color: #696969;
  padding-left: 30px;
  /*align-items: center;*/
}

.top {
  width: 100%;
  justify-content: space-between;
}

.project-name h1 {
  margin: 0;
  margin-bottom: 5px;

}
.project-name h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

.chart-and-links {
  width: 100%;
  padding-top: 30px;
}

.icons {
  padding-right: 30px;
}

.icons img {
  height: 25px;
  width: 25px;
  padding-left: 10px;
}
