div {
  display: flex;
}

body {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  font-family: sans-serif;
}

.chart-wrapper {
  flex-direction: column;
}

.chart-header, .chart-footer {
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
}


.chart {
  border: 1px solid black;
}


.chart rect {
  ry: 1;
  rx: 1;
}

.males rect {
  fill: #5696BC;
}

.females rect {
  fill: #d8a6b2;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.males rect:hover, .females rect:hover {
  opacity: 0.8;
}

.axis text {
  fill: black;
}

.chart .gender-labels {
  font: 14px sans-serif;
  font-weight: 400;
}

.chart .header {
  font: 26px sans-serif;
  font-weight: 700;
  text-anc
}

.chart .source {
  fill: #b3b3b3;
}


.test-links {
  flex-direction: column;
  cursor: pointer;
}
